@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    scroll-behavior: smooth;
}
header{
    height: auto;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin: 0;
    padding: 0;
    
}

header .navbar{
    padding: 0 8px;
    background-color:#201f3f;

}
.navbar-nav{
    margin: 0;
    padding:0;
}
header .navbar-brand{
    margin-left: 50px;
    font-size: 30px;
    color:rgb(206, 179, 26);
    font-family: 'Pacifico', cursive;
}
header .menu{
    padding-right: 16px;
}

header .menu .nav-item{
    padding:0 10px;
    
}

header .menu .nav-item .nav-link{
    font-size:18px;
    color:white;
    padding:10px 10px;
}

header .navbar .nav-item .active {
    background-color: #e9bd51;
    width: 100%;
  }
 

header .menu .nav-item:hover, header .menu .nav-item:hover .nav-link{
    background-color: #e9bd51;
    color: white;
}

header .navbar-nav{
    padding:0;
    margin: 0;
}